form{
    background-color: rgb(245, 237, 237);    
}

img{    
    width: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 44%;
}
h3{
    text-align: center;
    margin-bottom: 30px;
}
.login-caixa p{
    align-items: center;
    margin-left: 30%;    
}
.login-caixa input{
    width: 50%;
    height: 45px;
    border-radius: 7pt;
    border-style: outset;
    border-width: 3pt;
    margin-left: 10px;    
    border-color:lightgray;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
    background-color: lightblue;
    border-radius: 10px;
    border-style: outset;
    border-width: 4pt;
    outline: none;
    
}
.uname-email input{
    margin-left:14px;
}
button{
    margin-left: 30%; 
    width: 100px;
    height: 45px;
    margin-top: 30px;
    border-radius: 7pt;
    border-style: outset;
    border-color: lightgray;
    border-width: 3pt;
}
.botao-login{
    margin-left:38%;
    background-color: green;
}
.botao-cadastro{
    margin-left: 12%;
    background-color: blue;
}
.cancelbtn{
    margin-left: 25%;
    padding-bottom: 80px;
    
}
.cancelbtn1{
    background-color: red;
}
button:hover {
    color:white;
}

button:focus,
button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 0 0 darkgray;
}



/* @import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image:linear-gradient(to top, #9CB0D6, #E2E7F4, #DAE0EE, #9CB0D6);

}
.borda{
    background-image:linear-gradient(to top, #9CB0D6, #E2E7F4, #DAE0EE, #9CB0D6);
}
.logo{
    margin-top: 80px;
    text-align: center; 
}
.container-login{
    width: 100%;
    display: flex;
}
.login h2{
    font-size: 40px;
    background-color: white;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    text-align: center; 
}
.login{
    margin-top: 20px;
    margin-left: 539px;
    height: 180px;
    width: 458px;
    background-color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0px 0px 10px white, 0px 0px 30px white;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom-color: white;
}

.redes{
    margin-left: 539px;
    width: 458px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
}
.redes img{
    width: 55px;
    height: 50px;
}

.cadastrar-entrar{
    margin-left: 539px;
    width: 458px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}
button{
    border-color: white;
    background-color: white;
} */