 <!--  <body>
    <div class="borda">
    <div class="logo">
        <a href="index.html"></a><img src="assets/img/logo.png" alt="Logo do site">
    </div>
  <div class="container-login"></div>
    <div class="login">
        <h2>LOGIN</h2>
        <p>E-MAIL</p>
        <input type="e-mail" name="E-mail" id="email" placeholder="email@gmail.com" [(ngModel)]="loginModel.email">
        <p>SENHA</p>
        <input type="password" name="Senha" id="senha" placeholder="**********" [(ngModel)]="loginModel.password">
    </div>
    <div class="redes">
        <h2>Ou acesse utilizando</h2>
        <a href="#"><img src="assets/img/FACE.png" alt=""></a>
        <a href="#"><img src="assets/img/GOOGLE.png" alt=""></a>
        
    </div>
    <input id= "botao-enviar" type="submit" value="Fazer Login">
    </div>

<script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
</body>
 
 <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class= "campo-label">
    <label for="email">Email:</label>
    <input type="email"  name="email" id="email" placeholder="Ex.:email@gmail.com" [(ngModel)]="loginModel.email">
</div>

    <div class="campo-label">
    <label for="senha">Senha:</label>
    <input type="password"  name="senha" id="senha" placeholder="Sua senha aqui..." [(ngModel)]="loginModel.password">
</div>

<input id= "botao-enviar" type="submit" value="Fazer Login"> 
</form>-->

<!-- faltou colocar o (ngSubmit)="onSubmit()" depois do ng form, sem ele não vai ter nenhuma ação depois que vc clicar no botão de login e o mesmo não será realizado -->

<form method="post" #userLogin="ngForm" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
      <img src="assets/img/logo.png" alt="logo">
    </div>
  
    <h3>Login</h3>
  
    <div class="login-caixa container">
      <p class="uname-email"><label for="uname"><b>Email</b></label>
        <input type="email" placeholder="Digite o seu email" name="uname" [(ngModel)]="loginModel.email" required>
      </p>
  
      <p class="psw-senha"><label for="psw"><b>Senha</b></label>
        <input type="password" placeholder="Digite sua senha" name="psw"  [(ngModel)]="loginModel.password" required>
      </p>
    </div>
  
    <div class="botoes-login container">
      <div class="row">
        <button id="login-site" class="botao-login" type="submit">Login</button>
        <button id="login-site" class="botao-cadastro" routerLink="#">Cadastro</button>
      </div>
        <div class="cancelbtn">
          <button routerLink=" " class="cancelbtn1">Cancelar</button>
        </div>    
    </div>
  
</form>
