<body>
    <div class="borda">
    <div class="logo">
        <a href="index.html"></a><img src="assets/img/logo.png" alt="Logo do site">
    </div>
    <div class="container-login"></div>
    <div class="login">
        <h2>LOGIN</h2>
        <p>E-MAIL</p>
        <input type="e-mail" name="E-mail" id="input-email">
        <p>SENHA</p>
        <input type="password" name="Senha" id="input-password">
    </div>
    <div class="redes">
        <h2>Ou acesse utilizando</h2>
        <a href="#"><img src="assets/img/FACE.png" alt=""></a>
        <a href="#"><img src="assets/img/GOOGLE.png" alt=""></a>
        
    </div>
    <div id="login-submit" class="cadastrar-entrar">
        <button type="submit" value="Cadastrar">Cadastrar</button>
        <button type="enter" value="Entrar">Entrar</button>
    </div>
</div>
<!-- </div> -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
</body>

<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit()">

    <div class= "campo-label">
    <label for="email">Email: </label>
    <input type="email"  name="email" id="email" placeholder = "Ex.: email@gmail.com" [(ngModel)]= "loginModel.email">
    </div>

    <div class="campo-label">
    <label for="senha">Senha:</label>
    <input type="password"  name="senha" id="senha" placeholder="Sua senha aqui..." [(ngModel)] ="loginModel.senha">
</div>

<input id= "botao-enviar" type="submit" value="Fazer Login">
</form>
 -->